<nav class="main-nav">
  <a href="/">Inicio</a>
  <a href="/products">Productos</a>
  <a href="/carts">Carrito</a>
  <a href="/realtimeproducts">Tiempo Real</a>
  <a href="/register">Registro</a>
  <a href="/login">Login</a>
  <a href="/current">Mi Perfil</a>
</nav>